<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxp.openadmin.dao.SysOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.cxp.openadmin.domain.entity.SysOperationLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="take_time" jdbcType="INTEGER" property="takeTime" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
</mapper>